.userListContainer {
  width: 100%;
}

.userList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .userList {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}